

<div class="jumbotron">
<h1>A Ruby on Rails project</h1>
<p>This website has been created using Ruby on Rails.<br>You can login to this website and save your thoughts in the form of short quotes or long paragraphs and the world can know about it and read them online.</p>
  <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'About Us', home_about_path, class: 'btn btn-primary btn-lg disabled'%>
</div>

